.card{
background-image: url("https://images.hdqwalls.com/wallpapers/mountains-scenery-sky-north-cascades-4k-53.jpg");
height: 100vh;
background-size: cover;
    
}

.cont{
    font-size: larger ;
    text-align: left;
     padding-top: 10px;
     padding-left: 20px;
    
}

.heading1{
    text-align: center;
}


